<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Shopcart | Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #696969;">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-cart-plus"></i>Shopcart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
              {% if request.user.is_authenticated %}
                 <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i> {{request.user}}</a>
                 <a class="nav-link" aria-current="page" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
              {% else %}
                 <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a>
                 <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-users"></i> Register</a>
              {% endif %}
                 <a class="nav-link" href="{% url 'collections' %}"><i class="fa fa-cubes"></i> Collections</a>
                 <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a>
                 <a class="nav-link" href="{% url 'favviewpage' %}"><i class="fa fa-heart"></i> Favourite</a>
            </div>
          </div>
        </div>
     </nav>

     <section class="bg-light py-4 my-5" style="min-height:600px;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4 class="mb-3">Cart  Items</h4>
              <hr style="border-color:#b8bfc2;">
            </div>
          
            <table>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
              
    
                {% for item in cart %}
               <tr>
                  <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></td>
                  <td>{{item.product.name}}</td>
                  <td>{{item.product.selling_price | stringformat:'d'}}</td>
                  <td>{{item.product_qty}}</td>
                  <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
                  <td><a href="{% url 'remove_cart' item.id %}"  onclick="return confirm('Are you sure? to Remove')"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove</a></td>
                </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td colspan="2"><b>Total Amount</b></td>
                  <th id="net">0</th>
                  <td><button class="btn btn-primary btn-sm">
                    <i class="fa fa-check-circle"></i> Check Out
                  </button></td>
                </tr>
               
            </table>
           
          </div>
          </div>
      </section>
    
      <script>
        const nodes = document.querySelectorAll('.amt');
        const arr = Array.from(nodes);
        const res = arr.reduce((acc, curr) => {
         return acc += Number(curr.textContent)
        }, 0);
        document.getElementById("net").innerHTML="Rs : "+res;
    
      </script>




     <footer class="text-center text-lg-start text-white" style="background-color: #696969;">
        <section class="container d-flex justify-content-center justify-content-lg-between p-4">
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <div>
            <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/yuvaraj-k-6921b824b" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/yuva19102003" class="me-4 text-reset"><i class="fa fa-github"></i></a>
          </div>
        </section>
      
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> Shopcart</h6>
                <p>
                  shopcart.com is a one stop destination for your family's fashion needs.
                   We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands.
                </p>
              </div>
      
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Make Money with Us</h6>
                <p><a href="#!" class="text-reset">Sell on Shopcart</a></p>
                <p><a href="#!" class="text-reset">Advertise Your Products</a></p>
                <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
                <p><a href="#!" class="text-reset">Fulfilment by Shopcart</a></p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                <p><a href="#!" class="text-reset">FAQ</a></p>
                <p><a href="#!" class="text-reset">Feedback</a></p>
                <p><a href="#!" class="text-reset">About Us</a></p>
                <p><a href="#!" class="text-reset">Contact Us</a></p>
              </div>
              
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
                <p><i class="fa fa-home"></i> Yuva</p>
                <p><i class="fa fa-envelope"></i> info@example.com</p>
                <p><i class="fa fa-phone"></i> + 91 9876543210</p>
              </div>
      
            </div>
          </div>
        </section>
        <div class="text-center p-4">
          &copy;  2023 Copyright <a class="text-reset fw-bold" href="https://github.com/yuva19102003"> yuva19102003</a>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
  </html>